In [209]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import skbio 
import seaborn as sns
sns.set()
import scipy.stats as stats

In [225]:
data = pd.read_excel('/Users/sveerisetti/Desktop/Boston_University/Semester2/BF_550_Python/Final_Project/Bee_data/Box_Plot/master.xlsx', sheet_name = 'Absolute_abundance', header = 1).dropna(1)
data.rename(columns = {'Sample ID':'Sample_ID', 'Total 16S copies':'Total_16s_Reads'}, inplace=True)

data

/Users/sveerisetti/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/var/folders/qj/q80cnm5j5mgd448km33pk9vw0000gn/T/ipykernel_21194/741326576.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  data = pd.read_excel('/Users/sveerisetti/Desktop/Boston_University/Semester2/BF_550_Python/Final_Project/Bee_data/Box_Plot/master.xlsx', sheet_name = 'Absolute_abundance', header = 1).dropna(1)

,Sample_ID,Total_16s_Reads,Alpha 2.1,Bartonella,Bifidobacterium,Lactobacillus Firm_4,Lactobacillus Firm_5,Frischella,Fructobacillus,Gilliamella,Gluconobacter,Klebsiella,Lactobacillus kunkeei,Serratia,Snodgrassella,Halomonadaceae
0,T1_D3,8070000,3228,163014,1010364,242100,647214,12912,1614,5920152,0,6456,12912,0,50034,0
1,T10_D3,2270000,5448,454,2724,44038,48578,1660732,22700,471706,0,0,1362,454,6356,5448
2,T11_D3,45500000,9100,0,464100,2584400,11793600,254800,9100,29220100,9100,0,18200,9100,1128400,0
3,T13_D3,5850000,10530,3510,21060,49140,127530,5850,25740,30420,541710,1170,33930,4627350,5850,366210
4,T14_D3,20100000,0,8040,257280,410040,3931560,4020,0,104520,7018920,0,6444060,0,1913520,8040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,C5_D3,146000000,1080400,1810400,13870000,9665200,77380000,0,292000,19534800,0,0,0,0,22367200,0
110,C6_D3,63100000,0,593140,3028800,2057060,19232880,0,25240,6751700,50480,0,12620,0,31348080,0
111,C7_D3,66100000,925400,251180,4177520,6411700,33274740,0,185080,14277600,26440,0,0,0,6570340,0
112,C8_D3,123000000,0,123000,10479600,3886800,63197400,49200,24600,24796800,0,98400,0,0,20344200,0
113,C9_D3,264000000,0,52800,29673600,29620800,118430400,30148800,52800,22651200,0,0,0,211200,33158400,0

In [226]:
#For Day  Formation
conditions = [
    (data['Sample_ID'].str.contains("D0")),
    (data['Sample_ID'].str.contains("D1")),
    (data['Sample_ID'].str.contains("D2")),
    (data['Sample_ID'].str.contains("D3")),
    (data['Sample_ID'].str.contains("D4")),
    (data['Sample_ID'].str.contains("D5")),
    (data['Sample_ID'].str.contains("D6")),
    (data['Sample_ID'].str.contains("D7")),
    
    ]

# create a list of the values we want to assign for each condition
values = ["0", "1", '2', '3', '4', '5', '6', '7']

# create a new column and use np.select to assign values to it using our lists as arguments
data['Day'] = np.select(conditions, values)

In [227]:
#For Control/Treatment Group Formation
conditions = [
    (data['Sample_ID'].str.contains("C") & data['Sample_ID'].str.contains("D1")),
    (data['Sample_ID'].str.contains("T") & data['Sample_ID'].str.contains("D1")), 
    (data['Sample_ID'].str.contains("C") & data['Sample_ID'].str.contains("D2")),
    (data['Sample_ID'].str.contains("T") & data['Sample_ID'].str.contains("D2")), 
    (data['Sample_ID'].str.contains("C") & data['Sample_ID'].str.contains("D3")),
    (data['Sample_ID'].str.contains("T") & data['Sample_ID'].str.contains("D3")), 
    (data['Sample_ID'].str.contains("C") & data['Sample_ID'].str.contains("D4")),
    (data['Sample_ID'].str.contains("T") & data['Sample_ID'].str.contains("D4")),
    (data['Sample_ID'].str.contains("C") & data['Sample_ID'].str.contains("D5")),
    (data['Sample_ID'].str.contains("T") & data['Sample_ID'].str.contains("D5")),
    (data['Sample_ID'].str.contains("C") & data['Sample_ID'].str.contains("D6")),
    (data['Sample_ID'].str.contains("T") & data['Sample_ID'].str.contains("D6")), 
    (data['Sample_ID'].str.contains("C") & data['Sample_ID'].str.contains("D7")),
    (data['Sample_ID'].str.contains("T") & data['Sample_ID'].str.contains("D7")),  
    ]

# create a list of the values we want to assign for each condition
values = ["Control1", "Treatment1", "Control2", "Treatment2", "Control3", "Treatment3", "Control4", "Treatment4", "Control5", "Treatment5", 
         "Control6", "Treatment6", "Control7", "Treatment7"]

# create a new column and use np.select to assign values to it using our lists as arguments
data['Group'] = np.select(conditions, values)

In [228]:
# Get the bee number
data['Bee'] = data.Sample_ID.apply(lambda x: x.split('_')[0][1:])
data

,Sample_ID,Total_16s_Reads,Alpha 2.1,Bartonella,Bifidobacterium,Lactobacillus Firm_4,Lactobacillus Firm_5,Frischella,Fructobacillus,Gilliamella,Gluconobacter,Klebsiella,Lactobacillus kunkeei,Serratia,Snodgrassella,Halomonadaceae,Day,Group,Bee
0,T1_D3,8070000,3228,163014,1010364,242100,647214,12912,1614,5920152,0,6456,12912,0,50034,0,3,Treatment3,1
1,T10_D3,2270000,5448,454,2724,44038,48578,1660732,22700,471706,0,0,1362,454,6356,5448,3,Treatment3,10
2,T11_D3,45500000,9100,0,464100,2584400,11793600,254800,9100,29220100,9100,0,18200,9100,1128400,0,3,Treatment3,11
3,T13_D3,5850000,10530,3510,21060,49140,127530,5850,25740,30420,541710,1170,33930,4627350,5850,366210,3,Treatment3,13
4,T14_D3,20100000,0,8040,257280,410040,3931560,4020,0,104520,7018920,0,6444060,0,1913520,8040,3,Treatment3,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,C5_D3,146000000,1080400,1810400,13870000,9665200,77380000,0,292000,19534800,0,0,0,0,22367200,0,3,Control3,5
110,C6_D3,63100000,0,593140,3028800,2057060,19232880,0,25240,6751700,50480,0,12620,0,31348080,0,3,Control3,6
111,C7_D3,66100000,925400,251180,4177520,6411700,33274740,0,185080,14277600,26440,0,0,0,6570340,0,3,Control3,7
112,C8_D3,123000000,0,123000,10479600,3886800,63197400,49200,24600,24796800,0,98400,0,0,20344200,0,3,Control3,8
113,C9_D3,264000000,0,52800,29673600,29620800,118430400,30148800,52800,22651200,0,0,0,211200,33158400,0,3,Control3,9

In [232]:
def SDI(x):
    "https://en.wikipedia.org/wiki/Diversity_index"
    # Get proportions (relative abundance)
    p = x / x.sum()
    return -sum(p*np.log2(p))

#In R there is already a function that does this: diversity(). Potentially save df and use R to calculate shannon index values?

In [233]:
min_depth = data.Total_16s_Reads.min()
min_depth

data['index'] = SDI(data.loc[:,'Total_16s_Reads'])
data

,Sample_ID,Total_16s_Reads,Alpha 2.1,Bartonella,Bifidobacterium,Lactobacillus Firm_4,Lactobacillus Firm_5,Frischella,Fructobacillus,Gilliamella,Gluconobacter,Klebsiella,Lactobacillus kunkeei,Serratia,Snodgrassella,Halomonadaceae,Day,Group,Bee,index
0,T1_D3,8070000,3228,163014,1010364,242100,647214,12912,1614,5920152,0,6456,12912,0,50034,0,3,Treatment3,1,6.22547
1,T10_D3,2270000,5448,454,2724,44038,48578,1660732,22700,471706,0,0,1362,454,6356,5448,3,Treatment3,10,6.22547
2,T11_D3,45500000,9100,0,464100,2584400,11793600,254800,9100,29220100,9100,0,18200,9100,1128400,0,3,Treatment3,11,6.22547
3,T13_D3,5850000,10530,3510,21060,49140,127530,5850,25740,30420,541710,1170,33930,4627350,5850,366210,3,Treatment3,13,6.22547
4,T14_D3,20100000,0,8040,257280,410040,3931560,4020,0,104520,7018920,0,6444060,0,1913520,8040,3,Treatment3,14,6.22547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,C5_D3,146000000,1080400,1810400,13870000,9665200,77380000,0,292000,19534800,0,0,0,0,22367200,0,3,Control3,5,6.22547
110,C6_D3,63100000,0,593140,3028800,2057060,19232880,0,25240,6751700,50480,0,12620,0,31348080,0,3,Control3,6,6.22547
111,C7_D3,66100000,925400,251180,4177520,6411700,33274740,0,185080,14277600,26440,0,0,0,6570340,0,3,Control3,7,6.22547
112,C8_D3,123000000,0,123000,10479600,3886800,63197400,49200,24600,24796800,0,98400,0,0,20344200,0,3,Control3,8,6.22547
113,C9_D3,264000000,0,52800,29673600,29620800,118430400,30148800,52800,22651200,0,0,0,211200,33158400,0,3,Control3,9,6.22547

In [235]:
data.to_csv('/Users/sveerisetti/Desktop/trial.csv')

In [67]:
min_depth = data.Total_16s_Reads.min()
min_depth

relative_abundance = data/data.sum()

TypeError: unsupported operand type(s) for /: 'str' and 'str'